<?xml version="1.0"?>
<model>
  <name>dd24</name>
  <version>0.1</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Daniel Eduardo Hinojosa Alvarado</name>
    <email>A00838156@tec.mx</email>
  </author>
  <description>Duckiedrone DD24-B para PX4 SITL en Gazebo Harmonic. Geometría del URDF del paquete duckiedrone_dd24.</description>
</model>
